# Node modules
node_modules/

# Next.js build output
.next/
out/

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env dosyaları
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VSCode ayarları (isteğe bağlı)
.vscode/

# MacOS sistem dosyaları
.DS_Store

# Test coverage
coverage/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Yarn
.yarn/cache
.yarn/unplugged
.pnp.*

# Parcel-bundler cache (if used)
.cache/

# TypeScript
*.tsbuildinfo
